<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{pageTitle}}</title>
  <style>
    body {
      margin: 0;
      padding: 0;
      font-family: sans-serif;
    }

    main {
      padding:
        1rem;
    }

    .main-header {
      width: 100%;
      height: 3.5rem;
      padding: 0 1.5rewm;
      background-color: rgb(219, 196, 65);
    }

    .main-header__item-list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
    }

    .main-header_item {
      margin: 0 1rem;
      padding: 0;
    }

    .main-header-nav {
      height: 100%;
      display: flex;
      align-items: center;
    }

    .main-header_item a {
      text-decoration: none;
      color: #000;
    }

    .main-header__item a:hover,
    .main-header__item a:active,
    .main-header__item a.active {
      color: #6200ff;
    }

    .grid {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: stretch;
    }

    .card {
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    }

    .card__header,
    .card__content {
      padding: 1rem;
    }

    .card__header h1,
    .card__content h1,
    .card__content h2,
    .card__content p {
      margin: 0;
    }

    .card__image {
      width: 100%;
    }

    .card__image img {
      width: 100%;
    }

    .card__actions {
      padding: 1rem;
      text-align: center;
    }

    .card__actions button,
    .card__actions a {
      margin: 0 0.25rem;
    }

    .btn {
      font: inherit;
      border: 1px solid #00695c;
      color: #00695c;
      background: white;
      border-radius: 3px;
      cursor: pointer;
      padding: 4px 8px;
    }

    .btn:hover,
    .btn:active {
      background-color: #00695c;
      color: white;
    }

    .card_actions a {
      text-decoration: none;
    }
  </style>

</head>

<body>
  <header class="main-header">
    <nav class="main-header-nav">
      <ul class="main-header__item-list">
        <li class="main-header_item"><a class="active" href="/">shop</a></li>

        <li class="main-header_item"><a href="/admin/add-product">Add product</a></li>

      </ul>
    </nav>
  </header>
  <main>
    <div class="grid">
      {{#if prods.length}}
      {{#each prods}}
      <article class="card product-item">

        <header class="card_header">
          <h1 class="product_title">{{this.title}}</h1>
        </header>
        <div class="card__image">
          <img width="350" height="170" src={{this.imageUrl}} />
        </div>
        <div class="card_content">
          <p class="product_price">{{this.price}}</p>
          <p class="product_description">{{this.description}}</p>
        </div>
        <div class="card_actions">

          <button class="btn">Add to Cart

          </button>
        </div>
        <br>
      </article>
      {{/each}}
    </div>
    {{else}}
    <h1>No products</h1>
    {{/if}}
  </main>




</body>

</html>